.red{
    border-bottom: rgba(255, 0, 0, 0.692) 5px solid;
}
.green{
    border-bottom: rgba(81, 255, 0, 0.651) 5px solid;
}
.blue{
    border-bottom: rgba(0, 119, 255, 0.699) 5px solid;
}

.card{
    margin-right:10px !important;
    min-width: 10em;
    box-shadow: rgba(0, 0, 0, 0.24) 0 0 10px 0 !important;
}

.container{
    margin-top: 30px !important;
}

@media(max-width:700px){
    .card{
        margin-right:0px !important;
        
        margin-top: 10px !important;
        box-shadow: rgba(0, 0, 0, 0.24) 0 0 10px 0 !important;
    }
}