.red{
    border-bottom: red 5px solid;
}
.green{
    border-bottom: rgb(81, 255, 0) 5px solid;
}
.blue{
    border-bottom: rgba(0, 119, 255, 0.699) 5px solid;
}

.card{
    margin-right:10px !important
}

.container{
    margin-top: 30px !important;
}